body,
html {

    margin:5px 5px;
    
    
    /*background-image:url('../img/128-168.jpg');background-repeat:repeat;*/ 
}


h1,
h2,
h3 {

    color: red!important;



}

#selType,.input {


    font-size: 20px;
    text-align: left;
   border-radius: 10px;
    border: 4px solid #eee;
    padding-left:35px;
    padding: 10px;
   color:grey;
    font-weight: 600;
}

#selType{
    
    width:150px;
}

.t1 {


    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #009acb;
    
}

.t2 {


    padding-left: 50px;
    font-weight: 600;
    font-size: 35px;
    color: darkgreen;
}

.break {

    padding-bottom: 50px;
}

p {

    font-size: 18px;
    color: grey;
}


#canvasPlaceHolder {

    border: 1px solid black;

}

#download {

    color: white;
    cursor: pointer;
    background-color: darkgoldenrod;
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
}

#download:hover {

    text-decoration:false;
    background-color: red;
    transition: .5s;

}


.brandYW {
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    transition: 2s;
    background-color: #009acb;
    padding: 7px;
     border-radius: 10px;
    float: right;
    
}

.brandYW:hover{
    
    transition: 2s;
   background-color: #046a8a;
    text-decoration: none;
    color: #fff;
    
}
